<a href="https://colab.research.google.com/github/codekunoichi/learning-datascience/blob/master/ObesityExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ingest

[CDC Data on relation between physical activity and Obesity ](https://chronicdata.cdc.gov/Nutrition-Physical-Activity-and-Obesity/Nutrition-Physical-Activity-and-Obesity-Behavioral/hn4x-zwk7)

In [6]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/codekunoichi/learning-datascience/master/data-files/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv")
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15

Last 5 rows

In [7]:
df.tail()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
88624,2021,2021,ND,North Dakota,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(47.47531977900047, -100.11842104899966)",FV,FV1,Q019,VALUE,38,Gender,Male,GEN,MALE
88625,2021,2021,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q047,VALUE,72,Income,"$35,000 - $49,999",INC,INC3550
88626,2021,2021,WI,Wisconsin,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(44.39319117400049, -89.81637074199966)",PA,PA1,Q047,VALUE,55,Income,"$75,000 or greater",INC,INC75PLUS
88627,2021,2021,UT,Utah,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(39.360700171000474, -111.58713063499971)",FV,FV1,Q018,VALUE,49,Income,"$50,000 - $74,999",INC,INC5075
88628,2021,2021,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Income,Data not reported,INC,INCNR

Let explore the columns

In [8]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

Lets examine how many rows and columns are present

In [9]:
df.shape

(88629, 33)

# EDA - Exploratory Data Analysis

Lets explore the general characteristics of the data

In [10]:
df.describe

<bound method NDFrame.describe of        YearStart  YearEnd LocationAbbr  LocationDesc  \
0           2020     2020           US      National
1           2014     2014           GU          Guam
2           2013     2013           US      National
3           2013     2013           US      National
4           2015     2015           US      National
...          ...      ...          ...           ...
88624       2021     2021           ND  North Dakota
88625       2021     2021           PR   Puerto Rico
88626       2021     2021           WI     Wisconsin
88627       2021     2021           UT          Utah
88628       2021     2021           US      National

                                       Datasource                    Class  \
0      Behavioral Risk Factor Surveillance System        Physical Activity
1      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
2      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
3      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
4      Behavioral Risk Factor Surveillance System        Physical Activity
...                                           ...                      ...
88624  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88625  Behavioral Risk Factor Surveillance System        Physical Activity
88626  Behavioral Risk Factor Surveillance System        Physical Activity
88627  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88628  Behavioral Risk Factor Surveillance System        Physical Activity

                                  Topic  \
0          Physical Activity - Behavior
1               Obesity / Weight Status
2               Obesity / Weight Status
3               Obesity / Weight Status
4          Physical Activity - Behavior
...                                 ...
88624  Fruits and Vegetables - Behavior
88625      Physical Activity - Behavior
88626      Physical Activity - Behavior
88627  Fruits and Vegetables - Behavior
88628      Physical Activity - Behavior

                                                Question  Data_Value_Unit  \
0      Percent of adults who engage in no leisure-tim...              NaN
1      Percent of adults aged 18 years and older who ...              NaN
2      Percent of adults aged 18 years and older who ...              NaN
3      Percent of adults aged 18 years and older who ...              NaN
4      Percent of adults who achieve at least 300 min...              NaN
...                                                  ...              ...
88624  Percent of adults who report consuming vegetab...              NaN
88625  Percent of adults who engage in no leisure-tim...              NaN
88626  Percent of adults who engage in no leisure-tim...              NaN
88627  Percent of adults who report consuming fruit l...              NaN
88628  Percent of adults who engage in no leisure-tim...              NaN

      Data_Value_Type  ...                                GeoLocation  \
0               Value  ...                                        NaN
1               Value  ...                    (13.444304, 144.793731)
2               Value  ...                                        NaN
3               Value  ...                                        NaN
4               Value  ...                                        NaN
...               ...  ...                                        ...
88624           Value  ...   (47.47531977900047, -100.11842104899966)
88625           Value  ...                    (18.220833, -66.590149)
88626           Value  ...    (44.39319117400049, -89.81637074199966)
88627           Value  ...  (39.360700171000474, -111.58713063499971)
88628           Value  ...                                        NaN

       ClassID TopicID QuestionID  DataValueTypeID  LocationID  \
0           PA     PA1       Q047            VALUE          59
1          OWS    OWS1       Q036            VALUE          66
2          OWS    OWS1       Q036            VALUE          59
3          OWS    OWS1       Q037            VALUE          59
4           PA     PA1       Q045            VALUE          59
...        ...     ...        ...              ...         ...
88624       FV     FV1       Q019            VALUE          38
88625       PA     PA1       Q047            VALUE          72
88626       PA     PA1       Q047            VALUE          55
88627       FV     FV1       Q018            VALUE          49
88628       PA     PA1       Q047            VALUE          59

       StratificationCategory1       Stratification1  \
0               Race/Ethnicity              Hispanic
1                    Education  High school graduate
2                       Income     $50,000 - $74,999
3                       Income     Data not reported
4                       Income     Less than $15,000
...                        ...                   ...
88624                   Gender                  Male
88625                   Income     $35,000 - $49,999
88626                   Income    $75,000 or greater
88627                   Income     $50,000 - $74,999
88628                   Income     Data not reported

      StratificationCategoryId1 StratificationID1
0                          RACE           RACEHIS
1                           EDU         EDUHSGRAD
2                           INC           INC5075
3                           INC             INCNR
4                           INC         INCLESS15
...                         ...               ...
88624                       GEN              MALE
88625                       INC           INC3550
88626                       INC         INC75PLUS
88627                       INC           INC5075
88628                       INC             INCNR

[88629 rows x 33 columns]>

# Modelling

# Conclusion