## Problem 5: Exploring E-commerce Data
Dataset: Use a dataset containing e-commerce transaction data, including columns like CustomerID, ProductID, Purchase Date, and Price.

Tasks:

1. Load the dataset into a Pandas DataFrame.
2. Calculate the total revenue and the number of transactions.
3. Find the top 10 customers based on their total spending.
4. Identify the most popular products based on the number of times they were purchased.
5. Calculate the average time between purchases for each customer.
6. Plot the revenue trend over time.

In [2]:
import pandas as pd

ecomm_data = pd.read_csv('../data-files/ecommerce.csv')
ecomm_data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1