## Happiness Report Analysis

1. Data is obtained from the following dataset. [Kaggle World Happiness Report](https://www.kaggle.com/datasets/unsdsn/world-happiness)
2. Try to answer the following questions

- What countries or regions rank the highest in overall happiness and each of the six factors contributing to happiness? 
- How did country ranks or scores change between the 2015 and 2016 as well as the 2016 and 2017 reports? 
- Did any country experience a significant increase or decrease in happiness?

Steps
1. Load the data for 2015 till 2019
2. Clean the data and concat all years
3. Identify top twenty country's by each six factors
4. Plot each country year by year

In [70]:
import pandas as pd 

data_2015 = pd.read_csv('../data-files/happiness_data/2015.csv')
data_2016 = pd.read_csv('../data-files/happiness_data/2016.csv')
data_2017 = pd.read_csv('../data-files/happiness_data/2017.csv')
data_2018 = pd.read_csv('../data-files/happiness_data/2018.csv')
data_2019 = pd.read_csv('../data-files/happiness_data/2019.csv')

In [71]:
data_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [72]:
data_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [73]:
data_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [74]:
data_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [75]:
data_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

- Observing the data set and the changes in column names, first we will add a column for year to each of the data set.
- Then we will normalize the data set to have the same column name across each year's data set before we will concatenate them.
- Then we will trend the year over year statistics

In [76]:
# Let us add the year to each of the dataframe for the year.
data_2015['year'] = 2015
data_2016['year'] = 2016
data_2017['year'] = 2017
data_2018['year'] = 2018
data_2019['year'] = 2019
data_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

### Normalize columns
- Normalize the column names for each of the similar looking column names across the years
- Rename for each year the columns to the same name. 
- Keep the following for analysis

1. Country
2. Region
3. Happiness Rank
4. Happiness Score
5. Standard Error
6. GDP per capita
7. Family
8. Health Life Expectancy
9. Freedom
10. Trust Govt Corruption
11. Generosity

#### Order them all as follows:
1. Happiness Rank	
2. Country or region	
3. Happiness Score	
4. GDP per Capita	
5. Family	
6. Health Life Expectancy	
7. Freedom	
8. Generosity	
9. Trust Govt Corruption	
10. year

In [77]:
# Define the desired column order
desired_order = ['Happiness Rank', 'Country', 'Happiness Score', 'GDP per Capita', 'Family', 'Health Life Expectancy', 'Freedom', 'Generosity', 'Trust Govt Corruption', 'year']

In [78]:
data_2015 = data_2015.rename(columns={'Economy (GDP per Capita)': 'GDP per Capita', 'Health (Life Expectancy)': 'Health Life Expectancy', 'Trust (Government Corruption)': 'Trust Govt Corruption'})
data_2015 = data_2015.drop(['Region', 'Standard Error', 'Dystopia Residual'], axis=1)
data_2015 = data_2015[desired_order]
data_2015.head()

,Happiness Rank,Country,Happiness Score,GDP per Capita,Family,Health Life Expectancy,Freedom,Generosity,Trust Govt Corruption,year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015

In [79]:
data_2016 = data_2016.rename(columns={'Economy (GDP per Capita)': 'GDP per Capita', 'Health (Life Expectancy)': 'Health Life Expectancy', 'Trust (Government Corruption)': 'Trust Govt Corruption'})
data_2016 = data_2016.drop(['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], axis=1)
data_2016 = data_2016[desired_order]
data_2016.head()

,Happiness Rank,Country,Happiness Score,GDP per Capita,Family,Health Life Expectancy,Freedom,Generosity,Trust Govt Corruption,year
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453,2016
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203,2016
2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975,2016
3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776,2016
4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004,2016

In [80]:
data_2017 = data_2017.rename(columns={'Happiness.Rank': 'Happiness Rank', 'Happiness.Score' : 'Happiness Score', 'Economy..GDP.per.Capita.': 'GDP per Capita', 'Health..Life.Expectancy.': 'Health Life Expectancy', 'Trust..Government.Corruption.': 'Trust Govt Corruption', 'Dystopia.Residual' : 'Dystopia Residual'})
data_2017 = data_2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia Residual'], axis=1)
data_2017 = data_2017[desired_order]
data_2017.head()

,Happiness Rank,Country,Happiness Score,GDP per Capita,Family,Health Life Expectancy,Freedom,Generosity,Trust Govt Corruption,year
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,3,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,4,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,5,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

In [83]:
data_2018 = data_2018.rename(columns={'Country or region': 'Country', 'Overall rank': 'Happiness Rank', 'Score' : 'Happiness Score', 'GDP per capita': 'GDP per Capita', 'Healthy life expectancy': 'Health Life Expectancy', 'Perceptions of corruption': 'Trust Govt Corruption', 'Freedom to make life choices' : 'Freedom', 'Social support':'Family'})
data_2018 = data_2018[desired_order]
data_2018.head()

,Happiness Rank,Country,Happiness Score,GDP per Capita,Family,Health Life Expectancy,Freedom,Generosity,Trust Govt Corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [84]:
data_2019 = data_2019.rename(columns={'Country or region': 'Country', 'Overall rank': 'Happiness Rank', 'Score' : 'Happiness Score', 'GDP per capita': 'GDP per Capita', 'Healthy life expectancy': 'Health Life Expectancy', 'Perceptions of corruption': 'Trust Govt Corruption', 'Freedom to make life choices' : 'Freedom', 'Social support':'Family'})
data_2019 = data_2019[desired_order]
data_2019.head()

,Happiness Rank,Country,Happiness Score,GDP per Capita,Family,Health Life Expectancy,Freedom,Generosity,Trust Govt Corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019