## Problem 1: Analyzing Sales Data
Dataset: Use a dataset containing sales records of a store, including columns like Date, Product Name, Quantity Sold, and Price.

Tasks:

1. Load the dataset into a Pandas DataFrame.
2. Calculate the total sales and total profit for each product.
3. Find the top-selling products based on the quantity sold.
4. Calculate the average price of products.
5. Identify the months with the highest sales.
6. Plot the sales trend over time.

### Load the dataset into a Pandas DataFrame.

In [1]:
import pandas as pd
sales_data = pd.read_csv('../data-files/supermarket_sales - Sheet1.csv')
sales_data.describe

<bound method NDFrame.describe of       Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]>

In [2]:
sales_data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

### Calculate the total sales and total profit for each product.

In [3]:
total_sales = sales_data.groupby(['Product line']).Total.sum()
total_sales

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Sports and travel         55122.8265
Name: Total, dtype: float64

In [4]:
total_profit = sales_data.groupby('Product line')['gross income'].sum()
total_profit

Product line
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Food and beverages        2673.5640
Health and beauty         2342.5590
Home and lifestyle        2564.8530
Sports and travel         2624.8965
Name: gross income, dtype: float64

### Find the top-selling products based on the quantity sold.

In [8]:
grouped_product_by_qty = sales_data.groupby('Product line')['Quantity'].sum().reset_index()
grouped_product_by_qty

             Product line  Quantity
0  Electronic accessories       971
1     Fashion accessories       902
2      Food and beverages       952
3       Health and beauty       854
4      Home and lifestyle       911
5       Sports and travel       920

In [9]:
grouped_product_by_qty.sort_values(by='Quantity', ascending=False)

             Product line  Quantity
0  Electronic accessories       971
2      Food and beverages       952
5       Sports and travel       920
4      Home and lifestyle       911
1     Fashion accessories       902
3       Health and beauty       854

In [10]:
grouped_product_by_qty.iloc[0]

Product line    Electronic accessories
Quantity                           971
Name: 0, dtype: object

### Calculate the average price of products.

In [11]:
average_price_per_product = sales_data.groupby('Product line')['Unit price'].mean()
average_price_per_product

Product line
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unit price, dtype: float64

In [12]:
explore_data = sales_data.groupby('Product line')['Unit price'].agg(['mean', 'max', 'min', 'sum'])
explore_data

                             mean    max    min       sum
Product line
Electronic accessories  53.551588  99.73  10.56   9103.77
Fashion accessories     57.153652  99.89  10.18  10173.35
Food and beverages      56.008851  99.79  10.13   9745.54
Health and beauty       54.854474  99.96  10.08   8337.88
Home and lifestyle      55.316937  99.92  10.53   8850.71
Sports and travel       56.993253  99.96  10.17   9460.88

### Identify the months with the highest sales.

In [13]:
# Convert 'date_column' to datetime format (if it's not already)
sales_data['date_column'] = pd.to_datetime(sales_data['Date'])

# Split 'date_column' into separate columns for month, day, and year
sales_data['month'] = sales_data['date_column'].dt.month
sales_data['day'] = sales_data['date_column'].dt.day
sales_data['year'] = sales_data['date_column'].dt.year

sales_data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,...,Time,Payment,cogs,gross margin percentage,gross income,Rating,date_column,month,day,year
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,...,13:08,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05,1,5,2019
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,...,10:29,Cash,76.40,4.761905,3.8200,9.6,2019-03-08,3,8,2019
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,...,13:23,Credit card,324.31,4.761905,16.2155,7.4,2019-03-03,3,3,2019
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,...,20:33,Ewallet,465.76,4.761905,23.2880,8.4,2019-01-27,1,27,2019
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,...,10:37,Ewallet,604.17,4.761905,30.2085,5.3,2019-02-08,2,8,2019

In [14]:
sales_data_with_highest_monthly_sales = sales_data.groupby(['year', 'month'])['Total'].sum().reset_index()
sales_data_with_highest_monthly_sales

   year  month       Total
0  2019      1  116291.868
1  2019      2   97219.374
2  2019      3  109455.507

In [17]:
hightest_sales_sorted = sales_data_with_highest_monthly_sales.sort_values(by='Total', ascending=False)
hightest_sales_sorted

   year  month       Total
0  2019      1  116291.868
2  2019      3  109455.507
1  2019      2   97219.374

In [18]:
hightest_sales_sorted.iloc[0]

year       2019.000
month         1.000
Total    116291.868
Name: 0, dtype: float64