In [1]:
import pandas as pd

*Following is taken from [Kaggle Pandas](https://www.kaggle.com/code/residentmario/indexing-selecting-assigning/tutorial) Tutorials*. And personal notes on topics that needed more information beyond the summarized notes in Kaggle Tutorial. Enjoy!

Important objects in Pandas - **DataFrame** and **Series**

## DataFrames

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [2]:
example = pd.DataFrame({'Apples':[10, 20, 30], 'Banana': [30, 40, 30]}, index=['2001', '2002', '2003'])
print(example)

      Apples  Banana
2001      10      30
2002      20      40
2003      30      30

In [3]:
movies = pd.DataFrame({'James Bond': ['Tomorrow Never Dies', 'Casino Royale'], 'Jason Bourne' : ['Bourne Identity', 'Bourne Supremacy']}, index=['2010', '2020'])
print(movies)

               James Bond      Jason Bourne
2010  Tomorrow Never Dies   Bourne Identity
2020        Casino Royale  Bourne Supremacy

## Series
A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list.
A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name. The Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together".

In [4]:
basic_series = pd.Series([1, 2, 3, 4, 5])
print(basic_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Reading Data Files

In [5]:
read_reviews = pd.read_csv('movies.csv')
read_reviews.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

## Writing the dataframe to CSV

In [6]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals
animals.to_csv('cows_and_goats.csv')

## Indexing in Pandas

In Pandas, `loc` and `iloc` are used for indexing and selecting data from a DataFrame, but they have some differences in how they work.

1. `loc`:
   - `loc` is primarily label-based indexing. It is used to select data based on the labels (row and column names) in the DataFrame.
   - The syntax for using `loc` is `df.loc[row_label, column_label]`, where `row_label` and `column_label` can be single values, lists, slices, or boolean arrays.
   - When using `loc`, both the start and stop indices are included, similar to how slices work in Python.
   - The labels you use with `loc` must exist in the DataFrame; otherwise, you'll get a `KeyError`.

Example:
```python
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df.loc[1, 'Name'])  # Output: Bob
print(df.loc[1:2, 'Age'])  # Output: 1    30
                           #         2    22
                           #         Name: Age, dtype: int64
```

2. `iloc`:
   - `iloc` is primarily integer-location based indexing. It is used to select data based on the integer indices of the rows and columns in the DataFrame.
   - The syntax for using `iloc` is `df.iloc[row_index, column_index]`, where `row_index` and `column_index` can be single integers, lists of integers, slices, or boolean arrays.
   - When using `iloc`, the start index is included, but the stop index is excluded, just like standard Python slicing.

Example:
```python
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df.iloc[1, 0])  # Output: Bob
print(df.iloc[1:3, 1])  # Output: 1    30
                        #         2    22
                        #         Name: Age, dtype: int64
```

In summary, `loc` is used when you want to select data based on labels (names), while `iloc` is used when you want to select data based on integer indices. Both are powerful tools for data selection in Pandas and are useful in different scenarios.

iloc is conceptually simpler than loc because it ignores the dataset's indices. When we use iloc we treat the dataset like a big matrix (a list of lists), one that we have to index into by position. loc, by contrast, uses the information in the indices to do its work. Since your dataset usually has meaningful indices, it's usually easier to do things using loc

In [7]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df.loc[1, 'Name'])  # Output: Bob
print(df.loc[1:2, 'Age'])  # Output: 1    30
                           #         2    22
                           #         Name: Age, dtype: int64

Bob
1    30
2    22
Name: Age, dtype: int64

In [8]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df.iloc[1, 0])  # Output: Bob
print(df.iloc[1:3, 1])  # Output: 1    30
                        #         2    22
                        #         Name: Age, dtype: int64

Bob
1    30
2    22
Name: Age, dtype: int64

#### Choosing between loc and iloc
When choosing or transitioning between loc and iloc, there is one "gotcha" worth keeping in mind, which is that the two methods use slightly different indexing schemes.

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Why the change? Remember that loc can index any stdlib type: strings, for example. If we have a DataFrame with index values Apples, ..., Potatoes, ..., and we want to select "all the alphabetical fruit choices between Apples and Potatoes", then it's a lot more convenient to index df.loc['Apples':'Potatoes'] than it is to index something like df.loc['Apples', 'Potatoet'] (t coming after s in the alphabet).

This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for df.loc[0:999].

Otherwise, the semantics of using loc are the same as those for iloc.

## Manipulating the index

In Pandas, the `set_index()` method is used to set one or more columns as the DataFrame's index. By setting an index, you can access and manipulate data in the DataFrame based on the values in the specified column(s). The `set_index()` method does not modify the DataFrame in place but returns a new DataFrame with the updated index.

The syntax for using `set_index()` is as follows:

```python
new_df = df.set_index(keys, drop=True, append=False, inplace=False)
```

Parameters:
- `keys`: It can be a single column name (string) or a list of column names. These columns will become the new index of the DataFrame.
- `drop`: If set to `True`, the column(s) used for indexing will be removed from the DataFrame. The default is `True`.
- `append`: If set to `True`, the new index will be added as additional index levels if the DataFrame already has a MultiIndex. The default is `False`.
- `inplace`: If set to `True`, the DataFrame will be modified in place, and the method will return `None`. The default is `False`, which means the method returns a new DataFrame with the updated index.

Example:

```python
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Setting 'Name' column as the new index
new_df = df.set_index('Name')

print(new_df)
```

Output:

```
         Age           City
Name                        
Alice     25       New York
Bob       30  San Francisco
Charlie   22    Los Angeles
David     28       Chicago
```

In this example, the 'Name' column was set as the new index, and the resulting DataFrame, `new_df`, reflects this change. The 'Name' column is no longer part of the DataFrame, and it serves as the index for easier data access and manipulation based on names.

In [9]:
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   28        Chicago

In [10]:
new_df = df.set_index("Name")
new_df

         Age           City
Name
Alice     25       New York
Bob       30  San Francisco
Charlie   22    Los Angeles
David     28        Chicago

## Conditional Selection

Find wines with originating country Italy:

```
reviews.loc[reviews.country == 'Italy']
```

Find wines with originating country Italy and accrued points greater than equal to 90:

```
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]
```

Find wines with originating country Italy or is rated above average.

```
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]
```

Select wines only from Italy or France

```
reviews.loc[reviews.country.isin(['Italy', 'France'])]
```

Filter out wines lacking a price tag in the dataset

```
reviews.loc[reviews.price.notnull()]
```

Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

```
top_oceania_wines = reviews.loc[reviews.country.isin(['Australia', 'New Zealand']) & (reviews.points >=95)]
```

Create a DataFrame italian_wines containing reviews of wines made in Italy

```
italian_wines = reviews.loc[reviews.country == 'Italy']
```

Create a variable df containing the country and variety columns of the first 100 records.

```
df_hold = reviews.iloc[:100]

df = df_hold.loc[:, ['country' , 'variety']]

```

Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 1, 10, and 100.

```
df_hold = reviews.iloc[[0, 1, 10, 100]]

df = df_hold.loc[:, ['country', 'province', 'region_1', 'region_2']]

```

Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.

```
sample_reviews = reviews.iloc[[1, 2, 3, 5, 8]]
```

Select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

```
first_descriptions = reviews.iloc[:10, 1]
```

Select the first value from the description column of reviews, assigning it to variable first_description.

```
first_description = reviews['description'][0]
```

## Summary Functions

### describe()

In [11]:
df.Age.describe()

count     4.00
mean     26.25
std       3.50
min      22.00
25%      24.25
50%      26.50
75%      28.50
max      30.00
Name: Age, dtype: float64

In [12]:
df.Name.unique()

array(['Alice', 'Bob', 'Charlie', 'David'], dtype=object)

In [13]:
df.Name.value_counts()

Name
Alice      1
Bob        1
Charlie    1
David      1
Name: count, dtype: int64

## Summarize Functions - Map and Apply

*Kaggle Tutorial's explaination was not deep enough hence the following is more detailed explaination to help understand the nuances of map() vs. apply().*

Both `map()` and `apply()` are useful methods in Pandas for transforming data in a DataFrame. However, they have some differences in how they work and what they can be used for.

1. `map()`:
   - `map()` is a method that works on Series objects in a DataFrame. It is mainly used for substituting each value in a Series with another value based on a mapping dictionary or a function.
   - When you use `map()`, it applies the mapping to each individual element of the Series.
   - The mapping can be a dictionary, a Series, or a function that takes each element as input and returns the mapped value.
   - If a value in the Series does not have a corresponding mapping, it will be replaced with `NaN`.
   - `map()` does not work on DataFrames; it only operates on Series.

Example of `map()`:

```python
import pandas as pd

data = {
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Age': [25, 30, 22, 28, 35]
}

df = pd.DataFrame(data)

# Using map() to replace 'Male' with 1 and 'Female' with 0 in the 'Gender' column
gender_map = {'Male': 1, 'Female': 0}
df['Gender'] = df['Gender'].map(gender_map)

print(df)
```

Output:

```
   Gender  Age
0       1   25
1       0   30
2       1   22
3       0   28
4       1   35
```

2. `apply()`:
   - `apply()` is a method that works on both Series and DataFrames. It is used to apply a function along the axis of a DataFrame or a Series.
   - When you use `apply()` on a Series, it applies the function to each individual element of the Series.
   - When you use `apply()` on a DataFrame, it applies the function to each column (default) or each row, based on the `axis` parameter you specify (`axis=0` for columns and `axis=1` for rows).
   - The function you apply can be a built-in Python function, a lambda function, or a custom function that you define.
   - `apply()` is more versatile than `map()` as it allows for more complex transformations.

Example of `apply()`:

```python
import pandas as pd

data = {
    'Age': [25, 30, 22, 28, 35]
}

df = pd.DataFrame(data)

# Using apply() to add 5 to each element in the 'Age' column
df['Age'] = df['Age'].apply(lambda x: x + 5)

print(df)
```

Output:

```
   Age
0   30
1   35
2   27
3   33
4   40
```

In summary, `map()` is used for simple substitution based on a mapping dictionary or function and works only on Series, while `apply()` is more versatile and can apply functions to both Series and DataFrames, allowing for more complex transformations along the specified axis.

## Median

In Pandas, you can find the median for a given column in a DataFrame using the `median()` method. The `median()` method calculates the median value of a numeric column, ignoring any non-numeric values (e.g., NaN).

Here's how you can find the median for a specific column in a DataFrame:

```python
import pandas as pd

# Sample DataFrame
data = {
    'Age': [25, 30, 22, 28, 35],
    'Salary': [50000, 60000, 45000, 55000, 70000]
}

df = pd.DataFrame(data)

# Finding the median of the 'Age' column
age_median = df['Age'].median()
print("Median Age:", age_median)

# Finding the median of the 'Salary' column
salary_median = df['Salary'].median()
print("Median Salary:", salary_median)
```

Output:
```
Median Age: 28.0
Median Salary: 55000.0
```

In this example, we first created a DataFrame with two columns 'Age' and 'Salary'. We then used the `median()` method to find the median value of each column. The result is displayed on the screen as the median age and the median salary. Note that the `median()` method returns a single value for each column.

## Creating new Columns based on existing Column Value - Centered Price

To create a new column called "Centered_Price" where each value is the original "Price" value minus the mean of the "Price" column, you can use the `assign()` method along with the `mean()` method in Pandas.

Here's how you can do it:

```python
import pandas as pd

# Sample DataFrame
data = {
    'Price': [100, 150, 200, 120, 180]
}

df = pd.DataFrame(data)

# Calculate the mean of the 'Price' column
price_mean = df['Price'].mean()

# Create the new 'Centered_Price' column
df = df.assign(Centered_Price=df['Price'] - price_mean)

print(df)
```

Output:
```
   Price  Centered_Price
0    100           -30.0
1    150            20.0
2    200            70.0
3    120           -10.0
4    180            50.0
```

In this example, we first calculate the mean of the "Price" column using the `mean()` method. Then, we use the `assign()` method to create a new column called "Centered_Price" and set it to the result of subtracting the mean value from each value in the "Price" column.

The resulting DataFrame will have the original "Price" column and the new "Centered_Price" column, where each value represents the original value minus the mean of the "Price" column.

In [14]:
import pandas as pd

# Sample DataFrame
data = {
    'Price': [100, 150, 200, 120, 180]
}

df = pd.DataFrame(data)

# Calculate the mean of the 'Price' column
price_mean = df['Price'].mean()

# Create the new 'Centered_Price' column
df = df.assign(Centered_Price=df['Price'] - price_mean)

print(df)

   Price  Centered_Price
0    100           -50.0
1    150             0.0
2    200            50.0
3    120           -30.0
4    180            30.0

If you want to just get a new centered price DF and not augment the existing DF.

In [16]:
centered_price = df.Price - df.Price.mean()
print(centered_price)

0   -50.0
1     0.0
2    50.0
3   -30.0
4    30.0
Name: Price, dtype: float64

## Apply Example
We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series star_ratings with the number of stars corresponding to each review in the dataset.

```
def rate(row):
    if row.country == 'Canada':
        return 3
    if row.points >= 95:
        return 3
    elif row.points >= 85 & row.points < 95:
        return 2
    else:
        return 1


star_ratings = reviews.apply(rate, axis='columns')

```

## Groupby, max, sort_index

In Pandas, `groupby()` is a powerful function used to group data in a DataFrame based on one or more columns. It allows you to split the data into groups based on common values in a specific column (or columns), and then you can perform operations on each group independently or aggregate the data within each group.

**Syntax:**
```python
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True)
```

Parameters:
- `by`: This parameter specifies the column(s) that will be used to group the data. It can be a single column name (string), a list of column names, or a Series. If not specified, the data will be grouped based on all columns by default.
- `axis`: This parameter determines the axis along which the grouping is performed. `axis=0` (default) means grouping along rows, and `axis=1` means grouping along columns.
- `level`: This parameter is used to group by levels in a MultiIndex DataFrame. It takes an integer or a level name.
- `as_index`: This parameter is a boolean (True/False) that indicates whether the group labels should be used as the index of the resulting DataFrame. By default, `as_index=True`.
- `sort`: This parameter is a boolean (True/False) that indicates whether to sort the resulting DataFrame by the group labels. By default, `sort=True`.

**Usage with max():**
When using `groupby()` in conjunction with `max()`, you can find the maximum value within each group. This is particularly useful when you have a DataFrame with a 'grouping' column, and you want to find the maximum value within each group.

**Example:**
Let's demonstrate how to use `groupby()`, `max()`, and `sort_index()` together:

```python
import pandas as pd

# Sample DataFrame
data = {
    'Group': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 15, 8, 12, 20, 18]
}

df = pd.DataFrame(data)

# Grouping by the 'Group' column and finding the maximum value in each group
max_values = df.groupby('Group')['Value'].max()

print("Maximum values in each group:")
print(max_values)
```

Output:
```
Maximum values in each group:
Group
A    20
B    18
Name: Value, dtype: int64
```

In this example, we first create a DataFrame `df` with two columns: 'Group' and 'Value'. We then use `groupby('Group')` to group the data based on the unique values in the 'Group' column. Next, we apply the `max()` function to the 'Value' column within each group. The result is a Series with the maximum value for each group, along with the group labels as the index.

**Usage with sort_index():**
The `sort_index()` method is used to sort the resulting DataFrame or Series based on its index.

**Example:**
Let's continue from the previous example and sort the result using `sort_index()`:

```python
import pandas as pd

# Sample DataFrame
data = {
    'Group': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 15, 8, 12, 20, 18]
}

df = pd.DataFrame(data)

# Grouping by the 'Group' column and finding the maximum value in each group
max_values = df.groupby('Group')['Value'].max()

# Sorting the result based on the index
max_values_sorted = max_values.sort_index()

print("Maximum values in each group (sorted):")
print(max_values_sorted)
```

Output:
```
Maximum values in each group (sorted):
Group
A    20
B    18
Name: Value, dtype: int64
```

In this example, we added `sort_index()` after finding the maximum values in each group. The result is the same as before, but this time, the Series is sorted based on the group labels ('A' and 'B') in alphabetical order.

The combination of `groupby()`, `max()`, and `sort_index()` allows you to efficiently group, aggregate, and sort data within a DataFrame, making it easier to perform various data analysis tasks.

## agg() Aggregate Function

In Pandas, the `agg()` function is short for "aggregate" and is used to perform multiple aggregation functions on a DataFrame or a specific column within a group. It allows you to compute various statistics (e.g., mean, sum, max, min) or apply custom aggregation functions to each group independently.

**Syntax:**
```python
DataFrame.agg(func, axis=0, *args, **kwargs)
```

Parameters:
- `func`: This parameter can be a single aggregation function (e.g., 'mean', 'sum', 'max') or a list of aggregation functions. It can also be a dictionary that maps column names to specific aggregation functions.
- `axis`: This parameter determines the axis along which the aggregation is performed. `axis=0` (default) means aggregating along rows (for each column), and `axis=1` means aggregating along columns (for each row).
- `*args`, `**kwargs`: Additional arguments and keyword arguments that can be passed to the aggregation functions.

**Usage with Single Aggregation Function:**
When using `agg()` with a single aggregation function, it calculates the specified function on the DataFrame or the specific column, depending on the axis.

**Example:**
```python
import pandas as pd

# Sample DataFrame
data = {
    'Age': [25, 30, 22, 28, 35],
    'Salary': [50000, 60000, 45000, 55000, 70000]
}

df = pd.DataFrame(data)

# Calculating the mean of 'Age' and 'Salary'
mean_values = df.agg('mean')

print(mean_values)
```

Output:
```
Age          28.0
Salary    56000.0
dtype: float64
```

In this example, we use `agg('mean')` to calculate the mean of each column in the DataFrame. The result is a Series containing the mean of the 'Age' column (28.0) and the mean of the 'Salary' column (56000.0).

**Usage with Multiple Aggregation Functions:**
When using `agg()` with multiple aggregation functions, it applies all the specified functions to the DataFrame or the specific column, resulting in a DataFrame with the aggregated values.

**Example:**
```python
import pandas as pd

# Sample DataFrame
data = {
    'Age': [25, 30, 22, 28, 35],
    'Salary': [50000, 60000, 45000, 55000, 70000]
}

df = pd.DataFrame(data)

# Applying multiple aggregation functions to 'Age'
agg_results = df['Age'].agg(['mean', 'sum', 'max', 'min'])

print(agg_results)
```

Output:
```
mean    28.00
sum    140.00
max     35.00
min     22.00
Name: Age, dtype: float64
```

In this example, we use `agg(['mean', 'sum', 'max', 'min'])` to apply multiple aggregation functions to the 'Age' column. The result is a Series with the mean, sum, maximum, and minimum values of the 'Age' column.

**Usage with Custom Aggregation Functions:**
You can also use custom functions with `agg()` to perform specialized calculations that are not available as built-in aggregation functions.

**Example:**
```python
import pandas as pd

# Sample DataFrame
data = {
    'Age': [25, 30, 22, 28, 35],
    'Salary': [50000, 60000, 45000, 55000, 70000]
}

df = pd.DataFrame(data)

# Custom function to calculate the range (max - min) of a Series
def range_func(series):
    return series.max() - series.min()

# Applying the custom aggregation function to 'Salary'
range_salary = df['Salary'].agg(range_func)

print("Range of Salary:", range_salary)
```

Output:
```
Range of Salary: 20000
```

In this example, we define a custom function called `range_func()` that calculates the range (max - min) of a Series. Then, we use `agg(range_func)` to apply this custom function to the 'Salary' column, resulting in the range of the salary values (20000).

In summary, `agg()` in Pandas is a flexible and powerful method for performing various aggregation operations on a DataFrame or specific columns within a group. It allows you to compute multiple statistics simultaneously, apply custom functions, and obtain meaningful insights from your data.

In [3]:
import pandas as pd

# Sample DataFrame
data = {
    'Age': [25, 30, 22, 28, 35],
    'Salary': [50000, 60000, 45000, 55000, 70000]
}

df = pd.DataFrame(data)

# Applying multiple aggregation functions to each row, aggregating over the columns of each row
agg_results = df.agg(['mean', 'sum', 'max', 'min'], axis=1)

print(agg_results)

      mean      sum      max   min
0  25012.5  50025.0  50000.0  25.0
1  30015.0  60030.0  60000.0  30.0
2  22511.0  45022.0  45000.0  22.0
3  27514.0  55028.0  55000.0  28.0
4  35017.5  70035.0  70000.0  35.0